@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

@font-face {
    font-family: "Salaryman";
    src: url(../public/font/salaryman/SALARYMAN.ttf), url(../public/font/salaryman/salaryma-webfont.woff), url(../public/font/salaryman/salaryma-webfont.woff2)
}

:root {
    --color-primary: darkmagenta;

    --color-secondary-darker: #0d1830;
    --color-secondary: #4176c5;
    --color-secondary-light: #dbe64f;
    --color-secondary-lighter: #f5f4ca;

    --color-tertiary-darker: #a30404;
    --color-tertiary: #f72c2c;

    --color-background: #F6E1ED;
    
    --color-grey: #b8b8b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}

h1,
.h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Salaryman", "Syncopate", "Inter", sans-serif;
}

h2,
.h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 1rem;
    font-weight: 500;
}

p,
.p,
a,
.a {
    font-size: 0.8rem;
    font-weight: 500;
}

.text-detail {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
}

.text-detail-link {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.text-gradient-vertical {
    background: -webkit-linear-gradient(bottom, var(--color-secondary), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-horizontal {
    background: -webkit-linear-gradient(right, var(--color-secondary), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kotak-container {
    padding-left: 45px;
    padding-right: 45px;
    gap: 19px;
}

.kotak-container .gbr {
    gap: 20px;
    flex-direction: row;
    border-radius: 10px;
    text-align: -webkit-center;
    padding-bottom: 46px;
}

@media screen and ( min-width: 672px) {
    h1,
    .h1 {
        font-size: 4.3rem;
    }

    h2,
    .h2 {
    font-size: 2.3rem;
    }

    p,
    .p,
    a,
    .a {
        font-size: 1rem;
        font-weight: 500;
    }

    .wrapper {
        width: 75%;
    }
    .kotak-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 47px;
        padding-top: 33px;
        padding-left: 45px;
        padding-right: 45px;
        gap: 20px;
    }

    .kotak-container .gbr{
        padding-bottom: 47px;
    }

}

@media screen and ( min-width: 990px) {
    .kotak-container {
        display: flex;
        flex-direction: row;
        padding-top: 33px;
        padding-left: 45px;
        padding-right: 45px;
        gap: 19px;
    }
    
    .kotak-container .gbr{
        padding-bottom: 47px;
        width: -webkit-fill-available;
    }
}

@media screen and ( min-width: 1296px) {
    h1,
    .h1 {
        font-size: 5.6rem;
    }

    .kotak-container {
        padding-top: 33px;
    }
}