.subheader {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.subheader.center {
    text-align: center;
}

.subheader.left {
    text-align: left;
}

.subheader.right {
    text-align: right;
}

.subheader h2 {
    color: var(--color-primary);
    margin-bottom: 16px;
}

.subheader h3 {
    color: #707070;
    margin-bottom: 6px;
}